<div class="form-container container">
    <h2 class="header">Add Employee</h2>
    <div *ngIf="isDetails">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>Employee name</mat-hint>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>Enter ID</mat-hint>
                <mat-label>Employee ID</mat-label>
                <input matInput formControlName="employee_id" required>
            </mat-form-field>
            </p>    
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>Company department</mat-hint>
                <mat-label>Department</mat-label>
                <input matInput formControlName="department" required>
            </mat-form-field>
            </p>

            <!-- Role Details -->
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>Employee role in company</mat-hint>
                <mat-label>Role</mat-label>
                <input matInput formControlName="role" required>
            </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>YYYY-MM-DD</mat-hint>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="start_date" readonly="true" required>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>YYYY-MM-DD</mat-hint>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="end_date" readonly="true">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="outline">
                <mat-hint>Duties performed in this role</mat-hint>
                <mat-label>Duties</mat-label>
                <textarea matInput formControlName="duties" required></textarea>
            </mat-form-field>
            </p>
            <div class="button-container mat-button-spacing-medium">
                <div class="spacer"></div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">Submit</button>
            </div>
        </form>
    </div>
    <div *ngIf="isLoading" class="loading-screen">
        <mat-spinner></mat-spinner>
        <p>Loading...</p>
      </div>
      <div *ngIf="isSuccess" class="success-screen">
        <mat-icon>check_circle</mat-icon>
        <p>Company added successfully!</p>
        <button mat-raised-button color="primary" (click)="onOKButtonClicked()">OK</button>
      </div>
  </div>
