<!--<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Company List</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>-->
<h2 class="header">Company List</h2>
<div class="search-bar-container">
  <mat-form-field appearance="outline" class="example-spacer">
    <mat-label>Search</mat-label>
    <mat-hint>Enter company name</mat-hint>
    <input matInput [(ngModel)]="searchQuery" name="searchQuery">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="searchCompanies()">Search</button>
</div>
<div class="button-container mat-button-spacing-medium">
  <div class="spacer"></div>
  <button mat-raised-button color="primary" (click)="addCompany()">Add Company</button> 
</div>
<div *ngIf="isLoading else list" class="loading-screen">
  <mat-spinner></mat-spinner>
  <p>Loading...</p>
</div>
<ng-template #list>
  <mat-list *ngIf="companies.length > 0">
    <mat-list-item *ngFor="let company of companies">
      <app-company-card [company]="company"></app-company-card>
    </mat-list-item>
  </mat-list>
  <p class="no-results" *ngIf="companies.length === 0">No companies found.</p>
</ng-template>
